#calendar {
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
}
#event-info {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: rgba(0, 0, 0, 0.7);
	color: white;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	z-index: 999;
	text-align: left;
}
#add-event-modal {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: rgba(0, 0, 0, 0.7);
	color: white;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	z-index: 999;
	text-align: left;
}
#close-popup {
	background-color: transparent;
	color: white;
	border: none;
	cursor: pointer;
	margin-top: 10px;
}
.lk {
	text-align: center;
	margin-top: 50px;
}
form select {
	width: 100%;
	padding: 8px;
	margin: 5px 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 4px;
}
.user-info {
	margin: 20px auto;
	padding: 20px;
	border: 1px solid #ddd;
	border-radius: 5px;
	max-width: 400px;
	text-align: left;
	background-color: #f9f9f9;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.user-info button {
	padding: 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	background-color: #4caf50;
	color: white;
}
.user-info p {
	margin: 10px 0;
	font-size: 16px;
}
#edit-user-info-modal {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: rgba(0, 0, 0, 0.7);
	color: white;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	z-index: 999;
	text-align: left;
}
#edit-user-info-form p {
	margin-bottom: 10px;
}
#edit-user-info-form button {
	margin-top: 10px;
	padding: 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}
#edit-user-info-form button[type='submit'] {
	background-color: #4caf50;
	color: white;
}
#edit-user-info-form button[type='button'] {
	background-color: #f44336;
	color: white;
	margin-left: 10px;
}
#link-vk-modal {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: rgba(0, 0, 0, 0.7);
	color: white;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	z-index: 999;
	text-align: center;
}
#link-vk-modal button {
	margin-top: 10px;
	padding: 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}
#link-vk-modal button#confirm-link-vk {
	background-color: #4caf50;
	color: white;
}
#link-vk-modal button#close-link-vk {
	background-color: #f44336;
	color: white;
	margin-left: 10px;
}
#link-vk {
	background-color: #07f;
}
button#delete-event {
	margin-top: 10px;
	padding: 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	background-color: #f44336;
	color: white;
}
button#add-event-btn {
	margin-top: 10px;
	padding: 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	background-color: #4caf50;
	color: white;
}
button#add-event-btn:disabled {
	color: #aaaaaa;
	background-color: #666;
}
button#close-add-popup {
	margin-top: 10px;
	padding: 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	background-color: #ffffff;
	color: black;
}
button#close-popup {
	margin-top: 10px;
	padding: 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	background-color: #ffffff;
	color: black;
}
body.modal-open::before {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(5px);
	z-index: 998;
}
.message {
	padding: 10px;
	margin: 10px 0;
	border-radius: 5px;
	font-size: 16px;
}
.message.success {
	background-color: #d4edda;
	color: #155724;
	border: 1px solid #c3e6cb;
}
.message.error {
	background-color: #f8d7da;
	color: #721c24;
	border: 1px solid #f5c6cb;
}
